body
{
	background: lightblue;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
background: rgb(107,180,58);
background: linear-gradient(90deg, rgba(107,180,58,1) 0%, rgba(57,78,160,1) 57%, rgba(255,68,54,1) 77%, rgba(252,176,69,1) 100%);
}
button {
	width: 30%;
	background-color: antiquewhite;
}
body{
background: rgb(107,180,58);
background: linear-gradient(90deg, rgba(107,180,58,1) 0%, rgba(57,78,160,1) 57%, rgba(255,68,54,1) 77%, rgba(252,176,69,1) 100%);
}